body {
  /* background-color: burlywood; */
  background-image: url("images/background2.avif");
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: cursive;
  font-weight: 150;
  font-size: 1.9em;
  color: gold;
  padding: 3px;
  margin: 5px;
}
p {
  /* color: rgb(164, 207, 244); */
  color: goldenrod;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  padding: 3px;
  margin: 5px;
  margin-bottom: 8px;
}
.tb-div {
  margin: auto;
  width: 50%;
  align-self: center;
  display: flex;
  height: 100px;
  margin-top: 20px;
}
.textbox {
  background-color: black;
  border-color: gold;
  color: gold;
  margin: 20px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  height: 70px;
  display: flex;
}
img {
  width: 70px;
  height: 70px;
  align-self: center;
  padding: 0px;
  margin: 0px;
  border: none;
}
button {
  border-radius: 50%;
  border: none;
  /* cursor: pointer; */
  height: 70px;
  width: 70px;
  align-self: center;
  padding: none;
  margin: none;
  background: none;
}
