/* #instrument {
  margin: auto;
  padding: auto;
  /* margin: 10%;
  padding: 30px;
} 
*/
body {
  /* background-color: burlywood; */
  background-image: url("images/background2.avif");
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 150;
  font-size: 1.7em;
  color: aliceblue;
  padding: 3px;
  margin: 5px;
}
p {
  color: rgb(164, 207, 244);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  padding: 3px;
  margin: 5px;
  margin-bottom: 8px;
}
.tb-div {
  margin: auto;
  width: 50%;
  align-self: center;
  display: flex;
  height: 100px;
  margin-top: 20px;
}
.textbox {
  background-color: beige;
  margin: 10px;
  width: 100%;

  height: 80px;
  display: flex;
}
/* img {
  width: auto;
  height: 70%;
  align-self: center;
  margin: 10px;
} */
/* button {
  border-radius: 50%;
  background: none;
  border: none;
} */
